name: Build, test & measure

on:
  push:
    branches:
      - develop
      # Include all release branches.
      - '[0-9]+.[0-9]+'
  pull_request:
    # Run workflow whenever a PR is opened, updated (synchronized), or marked ready for review.
    types: [opened, synchronize, ready_for_review]

# Cancel previous workflow run groups that have not completed.
concurrency:
  # Group workflow runs by workflow name, along with the head branch ref of the pull request
  # or otherwise the branch or tag ref.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  e2e-test-js:
    defaults:
      run:
        shell: bash
        working-directory: assets
    name: 'E2E test: JS'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'

      - name: Setup Node
        uses: actions/setup-node@v3.8.1
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Configure Composer cache
        uses: actions/cache@v3.3.1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install Node dependencies
        run: npm ci

      - name: Install Composer dependencies
        run: composer install --prefer-dist --optimize-autoloader --no-progress --no-interaction

      - name: Build plugin
        run: npm run build:js

      - name: Start Docker environment
        run: npm run env:start:ci
        env:
          COMPOSE_INTERACTIVE_NO_CLI: true

      - name: Run E2E tests
        run: npm run test:e2e:ci

      - name: Stop Docker environment
        run: npm run env:stop:ci
        if: always()
        env:
          COMPOSE_INTERACTIVE_NO_CLI: true

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: amp-e2e-artifacts
          path: artifacts

